---
import Layout from '../layouts/Layout.astro'
---

<script>
  import { gsap } from 'gsap/dist/gsap'

  const timeline = gsap.timeline({
    defaults: { duration: 1, ease: 'power4.out' },
  })
  let yCenter = window.innerHeight / 2 - 50
  let xCenter = window.innerWidth / 2 - 90

  timeline.from('.main-container', {
    duration: 5,
    opacity: 0,
    delay: 0.1,
  })
</script>

<Layout title="Front-End Dev">
  <div class="main-container">
    <div class="thanks">
      <div class="titles">
        <h3>Thank you!</h3>
        <p>
          You will soon receive an email in your inbox.<br />
          Let's keep in touch :)
        </p>
        <a class="btn" href="/">Back home</a>
      </div>
    </div>
  </div>
</Layout>
