---
import icoGithub from "../assets/images/ico_github--white.svg";

const year = new Date().getFullYear();
---

<footer class="footer">
  <p class="footer__copyright caption--xs">
    Buenos Aires, Argentina ⥊ Aconcagua valley, Chile ·
    {year} · All rights reserved.
  </p>
  <div class="footer__social">
    <a href="https://www.github.com/olivaresp" target="_blank" rel="noopener">
      <img
        class="footer__ico-github"
        src={icoGithub.src}
        width={icoGithub.width}
        height={icoGithub.height}
        alt="Icono Github"
      />
    </a>
  </div>
</footer>
