---
import AnimationComponent from "../components/AnimationComponent.astro"
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<script>
  import { gsap } from "gsap/dist/gsap";
  import { CustomEase } from "gsap/CustomEase";

  gsap.registerPlugin(CustomEase);

  function playIntro() {
    const timeline = gsap.timeline({
      defaults: { duration: 1, ease: "power4.out" },
    });
    let yCenter = window.innerHeight / 2 - 30;
    let xCenter = window.innerWidth / 2 - 50;

    timeline
      .from(".main-nav__logo", {
        duration: 1,
        scale: 2,
        delay: 0.2,
        x: xCenter,
        y: yCenter,
        ease: CustomEase.create(
          "custom",
          "M0,0 C0,0 0.558,-0.168 0.778,0.146 0.929,0.361 1,1 1,1 "
        ),
      })
      .from(".main-nav__pres, .main-nav__options, .footer", {
        opacity: 0,
        delay: 1,
        duration: 1,
        ease: "slow(0.7, 0.7, false)",
      })
      .from(".home", {
        duration: 3.5,
        opacity: 0,
        // delay: 0.2,
        ease: "slow(0.7, 0.7, false)",
      });
  }
  if (!sessionStorage.getItem("playedIntro")) {
    playIntro();
    sessionStorage.setItem("playedIntro", "yes");
  }
</script>

<div class="home">
  <section class="index-urls">
    <h2 class="title">
      Andrés ~ 🦆
    </h2>
    <a class="index-url" href={translatePath('/portfolio/')}>
      <h2 class="title">
        {t('nav.portfolio')}
      </h2>
    </a>
    <a class="index-url" href={translatePath('/connect/')}>
      <h2 class="title">
        {t('nav.connect')}
      </h2>
    </a>
  </section>
  <div class="animation-container">
    <AnimationComponent />
  </div>
</div>