@forward 'helpers/_mixins'

// Helpers
@use 'helpers/_normalize'
@use 'helpers/_colors'
@use 'helpers/_form'
@use 'helpers/_inputs'
@use 'helpers/_media'
@use 'helpers/_radius'
@use 'helpers/_spaces'
@use 'helpers/_typography'

// Elements
@use 'elements/buttons'
@use 'elements/scroll-indicator'
@use 'elements/tags'

// Components
@use 'components/modal'

html,
body
  background-color: var(--clr-background)
  color: var(--clr-text)
  margin: var(--sp-no)
  padding: var(--sp-no)
  font-family: var(--ff-regular)
  font-size: var(--fs-paragraph)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin: 0

  .content-wrapper
    display: grid
    grid-template-rows: auto 1fr auto
    height: 100svh
    width: 100svw
    // padding: var(--sp-m)
    padding-bottom: var(--sp-n)
    box-sizing: border-box

    .main-content
      height: 100svh
      width: 100svw
      // padding-inline: var(--sp-m)
      box-sizing: border-box
      overflow: hidden
      
      // Index.astro
      .home
        display: flex
        justify-content: space-between
        position: relative
        height: 100svh
        .index-urls
          flex: 0 0 auto
          display: inline-flex
          gap: var(--sp-s)
          flex-direction: column
          position: absolute
          bottom: var(--sp-jumbo)
          z-index: 1
          padding: var(--sp-m)
          h2
            line-height: 40px
        .animation-container
          opacity: 0.4
          position: absolute
          right: 0
          transform: translate(400px, 80px)

          #canvas
            display: block

      // Contact.astro
      .contact-form
        display: flex
        flex-wrap: nowrap
        align-items: center
        height: 100%
        width: 100%

        .form--wrapper
          width: 100%

          .titles
            margin-bottom: var(--sp-m)

      // Thanks.Astro
      .thanks
        display: flex
        gap: var(--sp-m)
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        height: 100%

      // Portfolio.Astro
      .portfolio
        display: inline-flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        gap: var(--sp-xxl)
        height: 100%
        width: 100%
        overflow: scroll
        -ms-overflow-style: none
        scrollbar-width: none

        &::-webkit-scrollbar
          display: none

        .works
          display: grid
          grid-template-columns: repeat(4, 1fr)
          justify-content: flex-start
          gap: var(--sp-m)
          margin-inline: var(--sp-m)

          .work
            display: flex
            flex-direction: column
            gap: var(--sp-m)

            .work__data
              height: 100%
              display: flex
              flex-direction: column
              justify-content: space-between
              gap: var(--sp-n)

              .work__data-year
                margin-bottom: var(--sp-s)
                color: var(--clr-gray-01)

            .work__thumbnail
              max-width: calc(100vw - var(--sp-xxl) * 2)
              height: auto
              border-radius: var(--radius)

            .work-role
              margin-block: var(--sp-s)

              &::before
                content: '·'
                margin-right: var(--sp-n)

            .work-description
              p
                font-size: var(--fs-paragraph)
                text-transform: none

            .brands
              display: flex
              gap: var(--sp-n)
              margin-top: var(--sp-no)
              padding-top: var(--sp-n)
              border-top: 1px solid var(--clr-gray-06)
              
              .brand
                display: inline-block

                img
                  max-height: var(--sp-l)
                  width: auto

  hr
    border: none
    border-bottom: 1px solid var(--clr-gray-05)

@media (min-width: 900px)
  html,
  body
    .content-wrapper
      // padding: var(--sp-xl)

      .main-content
        // Index.astro
        // padding-inline: var(--sp-xl)
        .home
          .index-urls
            gap: var(--sp-n)
            top: 0
            margin-top: var(--sp-jumbo)
            padding: var(--sp-xl)

        // Contact.astro
        .contact-form
          .form--wrapper
            .titles
              text-align: center

        // Portfolio.Astro
        .portfolio
          gap: var(--sp-xl)

          .works
            gap: var(--sp-xxl)
            margin-inline: var(--sp-xl)

            .work
              .work__thumbnail
                max-width: 500px

              .work__data
                gap: var(--sp-m)
              