@forward 'helpers/_mixins'

// Helpers
@use 'helpers/_normalize'
@use 'helpers/_colors'
@use 'helpers/_form'
@use 'helpers/_inputs'
@use 'helpers/_media'
@use 'helpers/_radius'
@use 'helpers/_spaces'
@use 'helpers/_typography'

// Elements
@use 'elements/buttons'
@use 'elements/scroll-indicator'

// Components
@use 'components/footer'
@use 'components/main-nav'

html,
body
  background-color: var(--clr-background)
  color: var(--clr-text)
  margin: var(--sp-no)
  padding: var(--sp-no)
  font-family: var(--ff-regular)
  font-size: var(--fs-paragraph)
  text-transform: uppercase
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  .content-wrapper
    display: grid
    grid-template-rows: auto 1fr auto
    height: 100svh
    padding: var(--sp-m)
    padding-bottom: var(--sp-n)
    box-sizing: border-box

    .main-content
      overflow: hidden
      
      // Index.astro
      .index-urls
        display: inline-flex
        gap: var(--sp-s)
        flex-direction: column
        position: absolute
        bottom: var(--sp-jumbo)

      // Contact.astro
      .contact-form
        display: flex
        flex-wrap: nowrap
        align-items: center
        height: 100%
        width: 100%

        .form--wrapper
          width: 100%

          .titles
            margin-bottom: var(--sp-m)

      // Thanks.Astro
      .thanks
        display: flex
        gap: var(--sp-m)
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        height: 100%

      // Portfolio.Astro
      .portfolio
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        gap: var(--sp-l)
        height: 100%
        width: 100%
        overflow: scroll
        -ms-overflow-style: none
        scrollbar-width: none

        &::-webkit-scrollbar
          display: none

        .works
          display: flex
          gap: var(--sp-m)

          .work
            .work__thumbnail
              max-width: calc(100vw - var(--sp-xl) * 2)
              height: auto

            .brands
              display: flex
              gap: var(--sp-n)
              margin-top: var(--sp-n)
              padding-top: var(--sp-m)
              border-top: 1px solid var(--clr-gray-06)
              
              .brand
                img
                  max-height: var(--sp-xl)
                  width: auto


@media (min-width: 900px)
  html,
  body
    .content-wrapper
      padding: var(--sp-xl)

      .main-content
        // Index.astro
        .index-urls
          gap: var(--sp-n)
          position: inherit
          margin-top: var(--sp-xxxl)

        // Contact.astro
        .contact-form
          .form--wrapper
            .titles
              text-align: center

        // Portfolio.Astro
        .portfolio
          gap: var(--sp-xxl)
          .works
            gap: var(--sp-xxl)

            .work
              .work__thumbnail
                max-width: 500px
              